.about {
    width: 100vw;
    display: grid;
    align-items: center;
    justify-content: center;
}

.about-item {
    margin-top: 1rem;
    width: 512px;
    max-width: 75vw;
    height: fit-content;
    border-radius: 2rem;
    display: grid;
    padding: 2rem;
    justify-items: center; /* Center content horizontally */
}

.about-item-inner {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr; /* Stack content vertically */
    gap: 1rem; /* Add space between image and text */
    align-items: center;
}

.about-item-content {
    text-align: center;
    width: 100%; /* Full width of the container */
    word-break: break-word; /* Break words if they are too long */
    overflow-wrap: break-word; /* Ensures long words wrap properly */
}

.about-image {
    border-radius: 2rem;
    box-sizing: border-box;
    width: 100%; /* Fit the container */
    height: auto; /* Maintain aspect ratio */
}


@media only screen and (min-width:48em) {
    .about-item {
        width: calc(100vw - 5rem);
        border-radius: 4rem;
    }

    .about-image {
        margin: 1rem;
        max-width: 512px;
        border-radius: 4rem;
    }


}