.about {
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow-y: auto; /* Ensure content doesn't overflow */


}

.about-item {
    max-width: 75vw;

    height: fit-content;
    border-radius: 2rem;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    padding: 2rem;

}

.about-item-inner {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1.5rem;
    width: 100%;
    box-sizing: border-box;
}

.about-title {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    overflow-wrap: break-word;
    white-space: normal;
}

.about-item-sub {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;
    gap: 1rem;
}

.about-text {
    color: #333;
    font-size: 1.1rem;
    line-height: 1.8;
}

.about-image {
    max-width: 256px;
    height: auto;
    border-radius: 2rem;
    object-fit: cover;
}

/* Media query for screens 768px or smaller */
@media (max-width: 768px) {
    .about {
        position: relative; /* Make it relative to allow padding adjustments */
        padding-top: 3rem; /* Add padding to account for the fixed navbar */

        overflow-y: auto; /* Ensure content doesn't overflow */
        justify-content: center;
        align-items: center;
    }

    .about-item {
        width: 100%; /* Force the width to be 100% of the parent container */
        padding: 1.5rem; /* Reduce padding */
        box-sizing: border-box; /* Ensure padding is counted in the width */
    }

    .about-title {
        font-size: 1.6rem; /* Smaller font for titles */
        margin-bottom: 1rem; /* Reduce spacing */
        word-wrap: break-word; /* Prevent text overflow */
    }

    .about-item-inner {
        display: contents;
    }

    .about-item-sub {
        grid-template-columns: 1fr; /* Stack items vertically */
        gap: 0.5rem; /* Reduce gap between items */
    }

    .about-text {
        font-size: 1rem; /* Slightly smaller text */
        line-height: 1.5; /* Adjust line-height for readability */
        word-wrap: break-word; /* Ensure long words wrap */
    }

    .about-image {
        max-width: 200px; /* Scale down the image */
        margin: 0 auto; /* Center the image */
    }
}
