.construction {
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure content doesn't overflow */


}

.construction-inner {

    padding: 20px;

    width: fit-content;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;

}

.container-border {
    border-radius: 2rem;
}

.construction-image {
    width: 512px;
    height: auto;
}

@media (max-width: 768px) {

    .construction-image {
        width: 10rem;

    }

    .container-border {
        border-radius: 1rem;
    }
}
