.gallery {
    width: 100vw;
    display: grid;
    justify-content: center;
}

.gallery-item {
    border-radius: 2rem;
    box-sizing: border-box; /* Include padding and border in total width */
    margin: 1rem; /* Space around each item */
    display: grid; /* Use grid for items */
    align-items: center; /* Center content vertically */
    justify-items: center; /* Center content horizontally */
    width: fit-content; /* Allow item to use full width */
    max-width: 75vw; /* Maintain maximum width */
    height: fit-content; /* Use natural height */
}

.gallery-image {
    margin: 1rem 0;
    width: 75%; /* Maintain image width */
    height: auto; /* Maintain aspect ratio */
}

.gallery-text {
    margin: 1rem;
}

@media only screen and (min-width: 48em) {
    .gallery {
        grid-template-columns: repeat(2, 1fr); /* Two columns on larger screens */
        justify-content: center; /* Center the grid items */
        align-items: start; /* Align items at the start */
    }

    .gallery-item {
        border-radius: 4rem;
        max-width: 100%;
        height: 512px;

    }

    .gallery-text {
        margin-bottom: 25%;
    }
}


