.home {
    width: 100vw;
    display: grid;

    align-items: center;
    justify-content: center;
}

.home-background::before {
    content: '';
    background-image: url("../../../public/background.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.25;
    z-index: -1; /* Place behind the content */
}

.home-container {
    width: fit-content;
    height: fit-content;
    border-radius: 2rem;
    display: flex; /* Ensure child elements are centered */
    flex-direction: column; /* Stack logo and text */
    align-items: center; /* Center align the content */
}

.home-container-inner {
    padding: 2rem;
}

.home-logo {
    height: 128px;
    width: auto; /* Adjusts width automatically to maintain aspect ratio */
    margin-bottom: 1rem; /* Space between logo and text */
}

.home-logo-container {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    margin-bottom: 1rem; /* Space below the logo */
}

.text-container {
    display: flex;
    flex-direction: column; /* Stack spans vertically */
    align-items: center; /* Center-align text */
}

.text-item {
    color: #0057AB;
    font-size: 2rem;
    margin: 0; /* Remove default margin if needed */
}

@media only screen and (min-width:48em) {
    .home-container {
       border-radius: 4rem;
       width: calc(100vw / 2);
       height: fit-content;
    }

    .home-logo {
        width: 384px;
        height: auto;
    }


}