.home {
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure content doesn't overflow */
    background: rgba(0, 0, 0, 0); /* Ensure no default background color */

}

.home-background::before {
    content: '';
    background-image: url("../../images/background.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.25;
    z-index: -1; /* Place behind the content */
}

.home-brand {
    display: flex;
}

.home-brand-inner {

    padding: 3rem 5rem;

    width: fit-content;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home-logo {
    height: 384px;
    width: auto; /* Adjusts width automatically to maintain aspect ratio */
    margin-right: 3rem; /* Margin on the right side to create space */
}

.text-container {
    display: flex;
    flex-direction: column; /* Stack spans vertically */
}

.text-item {
    color: #0057AB;
    font-size: 6rem;
    margin: 0; /* Remove default margin if needed */
}

@media (max-width: 768px) {
    .home-logo {
        height: 4.5rem;
    }

    .home-brand-inner {
        padding: 1rem;
    }

    .text-item{
        font-size: 2rem;

    }
}