.pricing {
    display: flex;
    justify-content: center; /* Center the entire pricing section */
    align-items: center;
    overflow: hidden;
    background: rgba(0, 0, 0, 0);
    padding: 4rem 0; /* Ensure even padding on the top and bottom */
}

.pricing-container {
    width: 100%; /* Ensure it takes up full width */
    padding: 2rem;
    border-radius: 2rem;
    text-align: center;
    background-color: white; /* Optional */
    margin: 0 auto; /* Ensure the container itself is centered */
}

.pricing-container-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 columns for larger screens */
    gap: 2rem; /* Adds spacing both horizontally and vertically */
    width: 100%; /* Ensure it uses the full available width */
    justify-items: center; /* Center the items within each column */
    box-sizing: border-box; /* Make sure padding and borders are included in size calculations */
}

.pricing-item {
    width: 100%; /* Let it take up full available width */
    max-width: 512px; /* Max width for desktop */
    min-height: 512px;
    padding: 2rem;
    background-color: #fff;
    border-radius: 2rem;
    margin: 0 auto; /* Center each item individually */
}

.ratio-logo {
    width: 256px;
    height: auto;
}

.ratio-ui {
    width: 384px;
    height: auto;
}

@media (max-width: 768px) {
    .pricing-container-inner {
        grid-template-columns: repeat(1, 1fr); /* Stack columns on smaller screens */
        gap: 1.5rem;
    }
    .pricing-item {
        max-width: calc(100% - 1rem) !important;
    }
}

