.pricing {
    width: 100vw;
    display: grid;


    justify-content: center;
}

.pricing-item {
    border-radius: 2rem;
    box-sizing: border-box; /* Include padding and border in total width */
    margin: 1rem 0; /* Space above each item */
    display: grid; /* Use grid for items */
    align-items: center; /* Center content vertically */
    justify-items: center; /* Center content horizontally */
    width: fit-content; /* Allow item to use full width */
    max-width: 75vw; /* Maintain maximum width */
    height: fit-content;


}

.pricing-image {
    margin: 1rem 0;
    width: 75%;
    height: auto;
}

.pricing-text {
    margin: 1rem;

}

@media only screen and (min-width: 48em) {
    .pricing {
        align-items: center;
        display: grid; /* Ensure grid layout is maintained */
        grid-template-columns: repeat(2, 1fr); /* Two columns for medium screens */
        justify-items: center; /* Center items in their grid cells */
        gap: 2rem; /* Add gap between items for better spacing */
    }

    .pricing-item {
        border-radius: 4rem;
        height: 512px;
        max-width: 512px;
    }
    .pricing-image {
        width: 50%;
        height: auto;
    }
}